<div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-icon">
        <div class="card-icon">
          <i class="material-icons">face</i>
        </div>
      <h3 class="card-title"><%= header %></h3>
      <p class="card-category">

        <%= yield %>

      </p>
    </div>
  </div>
</div>
