<h2> contacts homepage </h2>
<% @contacts.each do |contact| %>
  <%= link_to contact.name, contact_path(contact) %><br>
<% end %><br>


<%= button_to "Create Contact", new_contact_path, :method => :get %>
