<%= render :layout => 'layouts/12_col_view', :locals => {:header => "Welcome to Nametag", :description => "Sign up/login in to keep track of your contacts & events"} do %>
  <%= render partial: "layouts/flash_message" %>
    <div class="row">
        <div class="col-sm-9">
          <p>Hello & welcome to Nametag! Nametag is my special tool to manage club contact information <b>without relying on Gsheets & formulas.</b> Some of the features include:</p>
              <ul>
                <li>Drill down on a contact (vs. line of a gsheet)</li>
                <li>Calculation of # of contacts per event</li>
                <li>Responsive design for phones</li>
                <li>Coming soon: # of guests and # of staff & returnee info</li>
              </ul>
          <p>Nametag is a part of my Flatiron School portfolio project. This whole web application is built using Rails & a Bootstrap theme.
          Please see the top right for credits! </p>
          <div class="align-self-center text-center"><b> Email Mackenzie Moore @ mackenzie-moore@live.com if you have feedback, questions, or suggestions!</b></div><br>
        </div>

        <div class="col-sm-3">
          <div class="align-self-center text-center">
            <img class="img-fluid" src="<%= image_path('igsm_logo.png') %>">
          </div><br>
      </div>
    </div>

<% end %>
