<div class="row">
  <div class="col-md-6">
    <p>Synth kitsch flexitarian narwhal pork belly. Synth authentic migas austin est pickled. Everyday carry 8-bit semiotics sint meditation, leggings tumeric duis banjo cred viral tilde proident. Ea artisan meggings man braid typewriter pinterest meh, eiusmod celiac.

    Jean shorts gastropub intelligentsia bespoke deep v, skateboard wayfarers labore cornhole distillery photo booth cray four loko portland. Lorem fixie anim, tbh ex meh fanny pack kickstarter sriracha hoodie kitsch dolore art party food truck chia. Art party DIY culpa trust fund. Pok pok succulents qui selvage whatever meggings lorem gentrify chillwave godard blue bottle sustainable id. Pitchfork enamel pin fam meggings minim art party.

    Oh. You need a little dummy text for your mockup? How quaint.

    I bet you’re still using Bootstrap too…</p>
  </div>

  <div class="col-md-6">
    <p>Lorem ipsum dolor amet esse crucifix tacos magna williamsburg blog locavore sint banh mi est green juice meggings. Tacos disrupt kitsch ex chicharrones officia. Yuccie eu godard, ad id actually gochujang. Glossier before they sold out chartreuse sriracha coloring book. Meditation literally laboris subway tile artisan, sed cupidatat shoreditch occaecat raclette chartreuse nulla.

Heirloom dolore poke, pinterest activated charcoal man braid laborum vaporware nostrud unicorn. Meditation id fam readymade proident adipisicing wolf man bun tumeric hell of. Offal unicorn 90's cillum air plant, adaptogen wolf artisan est intelligentsia esse. Chartreuse PBR&B +1, tumblr godard portland tbh. Four loko venmo hoodie celiac, quis chia cred selfies williamsburg quinoa.

Sartorial culpa blog est, veniam enamel pin selvage. La croix lomo scenester glossier. Tote bag master cleanse etsy glossier pitchfork. Dolore cronut offal authentic yuccie laborum slow-carb actually aesthetic pork belly. Adipisicing irure fingerstache kombucha forage normcore succulents semiotics reprehenderit dolore copper mug taxidermy irony. Chartreuse knausgaard viral single-origin coffee hexagon la croix put a bird on it dreamcatcher bitters. Locavore fashion axe ut, organic voluptate paleo raclette copper mug magna cold-pressed vape esse hexagon.

</p>
  </div>
</div>
