<!DOCTYPE html>
<html lang="en">
<head>
  <title>nametag</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
</head>

  <body class>

  <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">nametag</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/users/new">Signup</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/contacts">Contacts</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/users">Admin</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>

  <!-- Container Begins -->
    <div class="container">
        <%= yield %>
    </div>

  </body>
</html>
